<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961887182019-fop3te094qjb9tj8r52fogcjrem9ldin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961887182019-fop3te094qjb9tj8r52fogcjrem9ldin</string>
	<key>API_KEY</key>
	<string>AIzaSyAJmIjt1TUAZqlfDQ6aIzP0VPpzl6SJ3nI</string>
	<key>GCM_SENDER_ID</key>
	<string>961887182019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.btcmining</string>
	<key>PROJECT_ID</key>
	<string>btcmining-bf56f</string>
	<key>STORAGE_BUCKET</key>
	<string>btcmining-bf56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961887182019:ios:3ad9244b81350aa2f61676</string>
</dict>
</plist>